body {
  font-family: Arial;
  background: #f4f6f9;
}

.container {
  padding: 20px;
}

.kpi-container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.card {
  background: white;
  padding: 20px;
  flex: 1;
  border-radius: 8px;
  text-align: center;
}

.charts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

table {
  width: 100%;
  background: white;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
}

.filter {
  margin-bottom: 20px;
}

.center {
  text-align: center;
}